# macOS
.DS_Store

# Java / Maven
target/
*.class

# Node
node_modules/
dist/

# Entornos y secretos
.env
.env.*

# IDE
.idea/
.vscode/

# Archivos temporales de pruebas S3
backend/prueba-api.txt
backend/prueba.pdf
backend/prueba-grande.pdf
